body {
    margin: 0;
    background-color: aqua;
}

button {
    display: block;
    margin: 3.5vh auto;
    font-size: 1.2em;
    border-radius: 8px;
    padding: 5px 6px; 
    border-width: 4px;
}

button:hover {
    background-color: rgb(51, 209, 51);
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    justify-content: center;
    align-content: center;
    height: 600px;
    width: 600px;
    margin: 0 auto;
}

.grid-item {
    border: 3px solid black;
    aspect-ratio: 1;
}