body {
    margin: 0;
    background-color: aqua;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5vh 0;
    gap: 40px;
}

.color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    margin-top: 20px;
    gap: 5px;
}

input {
    width: 100px;
}

button {
    font-size: 1.2em;
    border-radius: 8px;
    padding: 5px 10px; 
    border-width: 4px;
}

.dimensions:hover {
    background-color: rgb(51, 209, 51);
}

.rainbow {
    width: 100px;
    background: linear-gradient(to right, rgb(255, 0, 0), green, blue);
}

.black {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(22, 22, 22));
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    justify-content: center;
    align-content: center;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    border: 3px solid black;
    box-shadow: 0 0 50px yellow;
}

.grid-item {
    border: 1px solid black;
    aspect-ratio: 1;
}